body {
  background-color: #243665;
  color: #8bd8bd;
  font-family: "Libre Baskerville", serif;
}
p {
  text-align: justify;
}

section {
  min-height: 100vh;
}

.navbar {
  background-color: #1978a5;
  position: fixed;
  width: 100%;
  box-shadow: 4px 4px 6px rgba(17, 27, 48, 0.5);
}

.navbar-brand {
  color: #243665;
}

.nav-item {
  color: #243665;
  font-family: "ubuntu", serif;
  font-size: 24px;
  font-weight: 500;
}

.section-image {
  width: 100%;
  margin-top: 100px;
}

.copy {
  width: 75%;
}

.card {
  flex-basis: auto;
  background-color: #bdcde0;
  color: #243665;
  box-shadow: 4px 4px 6px rgba(17, 27, 48, 0.5);
  border-radius: 10px;
}

#card-row {
  margin-top: 15px;
}

#contact {
  height: 100vh;
  background-image: url("Assets/AdobeStock_277626546_Preview_Contact.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#contact-card {
  margin-top: 150px;
  margin-left: 800px;
  margin-right: 50px;
  width: 500px;
  height: 500px;
}

.comms {
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
}
